:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

header {
    height: 60px;
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-sm);
    box-shadow: var(--shadow-sm);
    overflow: auto;
}

main {
    flex: 1;
    overflow: auto;
    padding: var(--spacing-sm);
}

footer {
    height: 40px;
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    box-shadow: var(--shadow-up);
    overflow: auto;
}

.header-content, .footer-content {
    width: 100%;
}
